
---CONVERT HSCODE LEADING ZEROS FROM RIGHT SIDE AND LEFT SIDE.


UPDATE PRODUCTS_HSCODE
SET HSCODE= FORMAT(CONVERT(NUMERIC(8,4), HSCODE),'0000.0000')

UPDATE BRANCHES_DATA
SET HS_CODE= FORMAT(CONVERT(NUMERIC(8,4), HS_CODE),'0000.0000')


SELECT BDATA.BRANCH_ID,BDATA.CUR_CODE,BDATA.E_FORM_AMOUNT,BDATA.SHIP_QTY,BDATA.DIFF_RATE,BDATA.HS_CODE,BDATA.PRODUCT_NAME,CRATE.CUR_RATE
FROM BRANCHES_DATA BDATA INNER JOIN PRODUCTS_HSCODE PCODE
ON (BDATA.HS_CODE = PCODE.HSCODE) AND (BDATA.PRODUCT_NAME=PCODE.PRDUCT_NAME) INNER JOIN CURRENCY_RATE CRATE
ON (BDATA.CUR_CODE = CRATE.CUR_CODE)
